    body { 
 	font-weight:bold;	
	padding:10px;
	padding-top:0;
    } 

    div.itemshadow { 
	background:url(../vendor/shadow.png) 500px 0 no-repeat; 
	background-size: 90% 60px; 
	opacity:.5;
	margin-top:20px;
	height:2px; 
	width:100%;
    display:none;
    } 
    div.item { 
	color:#444;
	margin-top:10px;
	margin-left:.8em;
    margin-right:.2em;
	height:120px;
    overflow: hidden;
    text-overflow: ellipsis;
    } 
    div h3 { 
	font-size:34px;
	font-weight:bold;
	color:black;
	margin:0;
	margin-bottom:8px;
    } 

