@import url("http://fonts.googleapis.com/css?family=Homemade+Apple");

html, body { margin:0; padding:0; color:white; overflow:hidden } 

* { 
    font-family: Arial;
} 

/*
  background: -moz-radial-gradient( -30% -30%, elipse , white, rgba(5,50,150,1));
  background: linear-gradient(180deg, rgba(115,222,255,1), rgba(199,235,255,1), rgba(115,222,255,1));
  background: linear-gradient(180deg, rgba(50,50,50,1),  rgba(100,100,100,1), rgba(150,150,150,1));
*/
body { 
  width:1920px; height:1080px;
  background: #444 url(http://sancahub.com.br/images/sancahub-gettingreal.png) 00px -60px no-repeat;
  background-size:800px;

} 

.viewport2 { 
  width:1920px; height:1080px;
} 

.datetime  { 
  font-size:200%;
  font-weight:bold;
  color:white;
  text-align:right;
  text-shadow:3px 3px 3px black;
} 

/*

*/
.inner { 
  margin-right:20px; 
  margin-top:20px;
  border-radius:25px;
  overflow:hidden;
} 

/*
  background: linear-gradient(180deg, rgba(0,0,0,.5), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0));
  */
.inner3 { 
  margin-right:20px; 
  margin-top:20px;
  border-radius:25px;
  overflow:hidden;
} 

.inner4 { 
  margin-right:20px; 
  margin-top:20px;
  border-radius:25px;
  overflow:hidden;
} 

.inner2 { 
  margin-right:0;
  margin-top:20px;
  background-color:rgba(255,255,255,.8);
  border-radius:25px;
  border-top-right-radius:0;
  border-bottom-right-radius:0;
  overflow:hidden;
} 
